---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/who.css";
---

<BaseLayout
  title="Who — Nuus"
  description="Project collection"
  current="who"
>

      <div class="container">
        <div class="mono-card">
          <img 
            class="lede-overlay" 
            src="/assets/who/nuus_diagram.png" 
            alt="Overlay graphic"
          />
          
          <div class="who-layout">
            <div class="profile">
              <div class="profile-item">
                <img 
                  class="profile-img" 
                  src="/assets/who/profiles/seiya-icon.JPG" 
                  alt="Profile 1"
                />
                <p class="profile-text">Profile 1</p>
              </div>
              <div class="profile-item">
                <img 
                  class="profile-img" 
                  src="/assets/who/profiles/ai-icon.gif" 
                  alt="Profile 2"
                />
                <p class="profile-text">Profile 2</p>
              </div>
              <div class="profile-item">
                <img 
                  class="profile-img" 
                  src="/assets/who/profiles/nene-icon.JPG" 
                  alt="Profile 3"
                />
                <p class="profile-text">Profile 3</p>
              </div>
            </div>

            <div class="lede-wrapper">
              <p class="lede">
               ヌースは</p>
              <p> 本質(X軸)と現象(Ｙ軸)に</p>
              <p>N軸をもって</p>
              <p>作品を作る</p>
               <p> クリエイティブ集団
              </p>
            </div>
          </div>

         
        </div>
      </div>
</BaseLayout>
